@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif ;
  background-color: #fcd9d2
}
nav {
  max-width: 1300px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.nav-logo {
  max-width: 100px;
}

.nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0, 75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #757589;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: gray;
  color: black;
}

button.btn,
.text{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .btn{
  display: none;
}

.overlay{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
}

section.actitve .overlay{
  opacity: 1;
  pointer-events: auto;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3 ease;
  transform: translate(-50% -50) scale(1.2);
}

section.active .text{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% -50) scale(1);
}

.text i{
  font-size: 70px;
}

.text h2{
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.text h3{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.text .buttons{
  margin-top: 25px;
}

.text button{
  font-size: 14px;
  padding: 12px 20px;
}

.container {
  color: #323232;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(BG.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.blank,
.blank-2 {
  width: 100%;
  min-height: 60vh;
  background-color: #323232;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 1.7rem;
  border-radius: 2rem;
  cursor: pointer;
}

p {
  max-width: 600px;
  line-height: 1.5;
  padding: 1rem;
  font-size: 18px;
}

.second {
  background-image: url(light_of_dawn_by_bisbiswas_deeg7fq.jpg);
  background-attachment: fixed;
  height: 950px;
  flex-direction: row;
  gap: 2.5rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(1 2fr);
  width: 320px;
  gap: 20px;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .info img {
  position: relative;
  width: 45%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 50%;
}

.card .info h3 {
  font-weight: 700;
  font-size: 1, 6rem;
}


footer{
  background-color: #32093F;
  height: 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3.5em;
  position: relative;
  left: 0;
  right: 0;
}


.rating-box{
  position: relative;
  background-color: #fff;
  padding: 25px 50px 35px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.rating-box header{
  font-size: 20px;
  color: #ccc;
  font-weight: 500;
  text-align: center;
}

.rating-box .stars{
  display: flex;
  align-items: center;
  gap: 25px;
}

.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.3 ease;
}

.stars i.nyala {
  color: #ff9c1a;
}

@media (max-width: 768px) {
  .card .info img {
    grid-template-columns: repeat(1, 1fr);
    width: 49%;
  }

  .card .info {
    width: auto;
  }
  .card {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .card .info img {
    
  }

  .card .info {
    width: auto;
  }
  .card {
    width: auto;
    height: auto;
  }
}

